{% extends "boldpredict/base.html" %}

{% block staticfiles %}
    {% load staticfiles %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src="{% static 'boldpredict/js/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'boldpredict/js/add_stimuli.js' %}" type="text/javascript"></script>

    <style>

        .container {
            max-width: 90%;
        }

        #inputGroupFile04:focus {
            outline: none;
        }

        #inputGroupFile04 {
            opacity: 0;
        }

        .btn-group .file-name {
            background-color: rgba(0, 0, 0, 0);
        }

        .input-group {
            margin-bottom: 1rem;
        }

        #upload-btn {
            margin-top: 1rem;
        }

        #file-block {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        label, th, td {
            color: white;
        }

        #coordinate-header-block {
            margin-bottom: 0.3rem;
        }

        #coord-table {
            width: 100%;
        }

        #coord-table th, #coord-table td {
            border: #fff 1px solid;
            text-align: center;
        }

        div label {
            font-weight: bold;
        }

        #contrast-table tbody tr:hover {
            background-color: rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }

        .selected-contrast {
            background-color: rgba(255, 193, 7, 1);
        }

        .selected-contrast td, .selected-contrast code {
            color: #0f0f0f;
        }

    </style>


{% endblock %}


{% block header %}
    <section>
        <div class="wrapper topSection">
            <div id="Header">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2"><h2>Add Contrasts</h2></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button type="button" id="upload-btn" class="btn btn-warning" onclick="uploadFiles()">Upload
                            Contrasts
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <form class="needs-validation">
                    <div id="contrast-block">
                        <div id="contrast-title-block" class="d-flex justify-content-between align-items-baseline">
                            <label for="contrast_title_input">Contrast Title</label>
                            <div></div>
                            <button type="submit" id="add-contrast-btn" class="btn btn-sm">Add
                                Contrast
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="optional" id="contrast_title_input"/>
                    </div>
                    <div id="condition-1-block">
                        <label>
                            <label for="condition-1-input">Condition 1 Name</label>
                        </label>
                        <input type="text" class="form-control" placeholder="condition name 1" id="condition-1-input"
                               required/>
                    </div>
                    <div>
                        <label>
                            <label for="stimuli_1">Stimuli of Condition 1</label>
                        </label>
                        <select id="stimuli_1" class="selectpicker form-control" multiple data-live-search="true"
                                required>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                    <div id="condition-2-block">
                        <label>
                            <label for="condition-2-input">Condition 2 Name</label>
                        </label>
                        <input type="text" class="form-control" placeholder="condition name 2" id="condition-2-input"
                               required/>
                    </div>
                    <div>
                        <label>
                            <label for="stimuli_2">Stimuli of Condition 2</label>
                        </label>
                        <select id="stimuli_2" class="selectpicker form-control" multiple data-live-search="true"
                                required>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                    <div>
                        <label>Figures</label>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04">
                            <label class="custom-file-label" id="inputGroupFile04label" for="inputGroupFile04">Choose
                                file</label>
                        </div>
                    </div>
                    <table id="file-block">
                        <tbody id="file-block-body">
                        </tbody>
                    </table>
                    <div>
                        <label>Coordinates</label>
                        <table id="coord-table">
                            <thead>
                            <tr>
                                <th style="width: 1rem;">name</th>
                                <th>x</th>
                                <th>y</th>
                                <th>z</th>
                                <th>T</th>
                                <th>Z</th>
                                <th>V</th>
                                <th style="width: 1rem;">Del</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
                <div style="height: 20px"></div>
                <form id="coordinate-input-block">
                    <div id="coordinate-header-block" class="d-flex justify-content-between align-items-baseline">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" placeholder="coordinate name" class="form-control" id="name-coord"
                                   required/>
                        </div>
                        <div style="width: 1rem"></div>
                        <button type="submit" class="btn btn-sm">Add</button>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">X:</span>
                                    </div>
                                    <input type="number" step="0.01" placeholder="x value" class="form-control"
                                           id="x-coord"
                                           required/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">TScore:</span>
                                    </div>
                                    <input type="number" step="0.01" placeholder="t score" class="form-control"
                                           id="ts-coord"
                                           required/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Y:</span>
                                    </div>
                                    <input type="number" step="0.01" placeholder="y value" class="form-control"
                                           id="y-coord"
                                           required/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ZScore:</span>
                                    </div>
                                    <input type="number" step="0.01" placeholder="z score" class="form-control"
                                           id="zs-coord"
                                           required/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Z:</span>
                                    </div>
                                    <input type="number" step="0.01" placeholder="z value" class="form-control"
                                           id="z-coord"
                                           required/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Voxel:</span>
                                    </div>
                                    <input type="number" step="0.01" placeholder="voxel" class="form-control"
                                           id="v-coord"
                                           required/>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-md-9">
                <table class="table" id="contrast-table">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>cond1</th>
                        <th>stimuli1</th>
                        <th>cond2</th>
                        <th>stimuli2</th>
                        <th>figures</th>
                        <th>coordinates</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        {% csrf_token %}
    </div>
    <script type="text/javascript">

        let files = [];
        let contrasts = [];
        let coordinates = [];
        let editingContrastIndex = -1;
        let selectedContrastClassName = "selected-contrast";
        const figureStr = "<tr><td style=\"color:white\">{0}</td><td><button type=\"button\" class=\"file-name btn-danger\" onclick=\"deleteFile(this)\">delete</button></td></tr>";
        const coordStr = "<tr>><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td><button onclick=\"deleteCoord(this)\" type=\"button\" class=\"btn-danger coord-btn\"><span>&#10005;</span></button></td></tr>";
        const contrastStr = "<tr class=\"contrast-record\" onclick=\"editContrast(this)\"><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td><button type=\"button\" class=\"btn-danger del-contrast-btn\"><span>&#10005;</span></button></td></tr>";

        $(document).ready(function () {
            $("#inputGroupFile04").on("change", function () {
                let selectedFiles = $("#inputGroupFile04")[0].files;
                if (selectedFiles.length > 0) {
                    let a = $("#file-block-body")[0].innerHTML;
                    $("#file-block-body")[0].innerHTML = a + figureStr.format(selectedFiles[0].name);
                    files.push(selectedFiles[0]);
                }
            });

            let form = $(".needs-validation")[0];
            form.addEventListener('submit', addContrast);

            let coordinate_form = $("#coordinate-input-block")[0];
            coordinate_form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                addCoordinates();
            })
        });

        function deleteFile(btn) {
            let tr = $(btn).parent().parent();
            let index = $(".file-name").index(btn);
            files.splice(index, 1);
            tr.remove()
        }

        function createForm() {
            let form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "/upload_images");

            for (let i = 0; i < files.length; i++) {
                let file = files[i]
                let input = document.createElement("input");
                input.setAttribute('type', "hidden");
                input.setAttribute("name", "file" + (i + 1))
                input.setAttribute("value", file)
                form.appendChild(input)
            }

            return form
        }

        function uploadFiles() {
            let formdata = new FormData();
            let csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            formdata.append('csrfmiddlewaretoken', csrfToken);

            for (let i = 0; i < files.length; i++) {
                let file = files[i]
                formdata.append(file.name, file, file.name);
            }

            $.ajax({
                url: '/upload_images',
                data: formdata,
                type: 'POST',
                processData: false,
                contentType: false,
            }).done(function (resp) {
                console.log(resp);
            });
        }

        function buildContrast() {
            let title = $("#contrast_title_input").val();
            if (!title || title.length === 0) {
                title = (contrasts.length + 1) + '@' + randID(7)
            }
            let cond1 = $("#condition-1-input").val();
            let stim1 = $("#stimuli_1").val();
            let cond2 = $("#condition-2-input").val();
            let stim2 = $("#stimuli_2").val();
            let figures = [];
            for (let i = 0; i < files.length; i++) {
                figures.push(files[i])
            }

            return {
                "title": title,
                "condition1": cond1,
                "condition2": cond2,
                "stimuli1": stim1,
                "stimuli2": stim2,
                "figures": figures,
                "coordinates": JSON.parse(JSON.stringify(coordinates))
            };
        }

        function buildContrastRecord(contrast) {
            //selected files
            let fileNamesStr = "";
            if (contrast.figures.length > 0) {
                for (let i = 0; i < contrast.figures.length; i++) {
                    fileNamesStr += "<li>{0}</li>".format(contrast.figures[i].name)
                }
                fileNamesStr = "<ul>" + fileNamesStr + "</ul>";
            }

            //coordinates
            let coordinatesStr = "";
            if (contrast.coordinates.length > 0) {
                let coords = [];
                for (let i = 0; i < contrast.coordinates.length; i++) {
                    let coordinate = contrast.coordinates[i];
                    coords.push({
                        "name": coordinate.name,
                        "xyz": [parseFloat(coordinate.x), parseFloat(coordinate.y), parseFloat(coordinate.z)],
                        "tscore": parseFloat(coordinate.tscore),
                        "zscore": parseFloat(coordinate.zscore),
                        "voxel": parseFloat(coordinate.zscore),
                    })
                }
                coordinatesStr = "<code>" + JSON.stringify(coords) + "</code>";
            }

            //build a record
            return contrastStr.format(
                contrast.title,
                contrast.condition1,
                contrast.stimuli1.join(),
                contrast.condition2,
                contrast.stimuli2.join(),
                fileNamesStr,
                coordinatesStr
            );
        }

        function clearFilesCoords() {
            files = [];
            coordinates = [];
            $("#file-block tbody")[0].innerHTML = "";
            $("#coord-table tbody")[0].innerHTML = "";
        }

        function addContrast(event) {
            event.preventDefault();
            event.stopPropagation();

            let contrast = buildContrast()
            contrasts.push(contrast);
            clearFilesCoords();

            let contrastRecord = buildContrastRecord(contrast)
            $("#contrast-table").append(contrastRecord);
            let btns = $(".del-contrast-btn");
            btns[btns.length - 1].addEventListener('click', deleteContrast);
        }

        function buildCoordinate() {
            let values = [];
            let fields = ["name-coord", "x-coord", "y-coord", "z-coord", "ts-coord", "zs-coord", "v-coord"];
            for (let i = 0; i < fields.length; i++) {
                let input = $("#" + fields[i])[0];
                values.push(input.value);
                input.value = 0;
            }
            $("#" + fields[0])[0].value = "";
            return {
                "name": values[0],
                "x": values[1],
                "y": values[2],
                "z": values[3],
                "tscore": values[4],
                "zscore": values[5],
                "voxel": values[6]
            }
        }

        function buildCoordinateRecord(coordinate) {
            return coordStr.format(
                coordinate.name,
                coordinate.x,
                coordinate.y,
                coordinate.z,
                coordinate.tscore,
                coordinate.zscore,
                coordinate.voxel
            );
        }

        function addCoordinates() {

            let coordinate = buildCoordinate();
            coordinates.push(coordinate);
            let table = $("#coord-table");
            let line = buildCoordinateRecord(coordinate);
            table.append(line);
        }

        function deleteCoord(btn) {
            let tr = $(btn).parent().parent();
            let index = $(".coord-btn").index(btn);
            coordinates.splice(index, 1);
            tr.remove();
        }

        function editDone(event) {

            event.preventDefault();
            event.stopPropagation();

            let form = $(".needs-validation")[0];
            let btn = $("#add-contrast-btn")[0];
            form.removeEventListener("submit", editDone);
            form.addEventListener("submit", addContrast);
            btn.innerHTML = "Add Contrast";

            //let re = new RegExp(selectedContrastClassName, "g");
            //let selectedContrastRow = $("."+selectedContrastClassName)[0];
            //selectedContrastRow.className = selectedContrastRow.className.replace(re, "");

            contrasts[editingContrastIndex] = buildContrast();
            clearFilesCoords();
            refreshContrastTable();
            editingContrastIndex = -1;
            $(".del-contrast-btn").attr('hidden', false);
        }

        function editContrast(row) {

            if (row.className.includes(selectedContrastClassName)) {
                return;
            }

            // change style
            let re = new RegExp(" " + selectedContrastClassName, "g");
            let tbody = $("#contrast-table tbody")
            let rows = tbody.children();
            for (let i = 0; i < rows.length; i++) {
                rows[i].className = rows[i].className.replace(re, "");
            }
            row.className += " " + selectedContrastClassName;

            //change Edit/Add button style
            let form = $(".needs-validation")[0];
            form.removeEventListener("submit", addContrast);
            form.addEventListener("submit", editDone);
            let addContrastBtn = $("#add-contrast-btn")[0];
            addContrastBtn.innerHTML = "Edit Done";

            //hide all remove buttons
            $(".del-contrast-btn").attr('hidden', true);

            // find the index and data
            let index = $(".contrast-record").index(row);
            let contrastData = contrasts[index];
            editingContrastIndex = index;

            // get controls
            let contrastTitleInput = $("#contrast_title_input")[0];
            let condition1Input = $("#condition-1-input")[0];
            let condition2Input = $("#condition-2-input")[0];
            let fileTable = $("#file-block tbody");
            let coordTable = $("#coord-table tbody");

            // refill the data
            contrastTitleInput.value = contrastData.title;
            condition1Input.value = contrastData.condition1;
            condition2Input.value = contrastData.condition2;
            files = [];
            fileTable[0].innerHTML = "";
            for (let i = 0; i < contrastData.figures.length; i++) {
                files.push(contrastData.figures[i]);
                fileTable.append(figureStr.format(contrastData.figures[i].name));
            }

            coordinates = JSON.parse(JSON.stringify(contrastData.coordinates));
            coordTable[0].innerHTML = "";
            for (let i = 0; i < contrastData.coordinates.length; i++) {
                let c = contrastData.coordinates[i];
                coordTable.append(coordStr.format(c.name, c.x, c.y, c.z, c.tscore, c.zscore, c.voxel));
            }
        }

        function deleteContrast(event) {
            event.preventDefault();
            event.stopPropagation();
            let btn = $(event.target);
            if (btn[0].nodeName === "span" || btn[0].nodeName === "SPAN") {
                btn = btn.parent();
            }
            let index = $(".del-contrast-btn").index(btn);
            contrasts.splice(index, 1);
            refreshContrastTable();
        }

        function refreshContrastTable() {
            let contrastTable = $("#contrast-table tbody");
            contrastTable[0].innerHTML = "";
            for (let i = 0; i < contrasts.length; i++) {
                contrastTable.append(buildContrastRecord(contrasts[i]));
            }
            $(".del-contrast-btn").on('click', deleteContrast);
        }
    </script>
{% endblock %}