{% extends "boldpredict/base.html" %}

{% block staticfiles %}
    {% load staticfiles %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src="{% static 'boldpredict/js/utils.js' %}" type="text/javascript"></script>
    <script src="{% static 'boldpredict/js/add_stimuli.js' %}" type="text/javascript"></script>

    <style>

        .container {
            max-width: 90%;
        }

        #inputGroupFile04:focus {
            outline: none;
        }

        #inputGroupFile04 {
            opacity: 0;
        }

        .btn-group .file-name {
            background-color: rgba(0, 0, 0, 0);
        }

        .input-group {
            margin-bottom: 1rem;
        }

        #upload-btn {
            margin-top: 1rem;
        }

        #file-block {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        label, th {
            color: white;
        }

        #coordinate-header-block {
            margin-bottom: 0.3rem;
        }

        #coord-table {
            width: 100%;
        }

        #coord-table th, #coord-table td {
            border: #fff 1px solid;
            text-align: center;
        }

        div label {
            font-weight: bold;
        }
    </style>


{% endblock %}


{% block header %}
    <section>
        <div class="wrapper topSection">
            <div id="Header">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2"><h2>Add Contrasts</h2></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <button type="button" id="upload-btn" class="btn btn-warning" onclick="uploadFiles()">Upload
                            Contrasts
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form class="needs-validation">
                    <div id="contrast-block">
                        <div id="contrast-title-block" class="d-flex justify-content-between align-items-baseline">
                            <label for="contrast_title_input">Contrast Title</label>
                            <div></div>
                            <button type="submit" id="upload-btn" class="btn btn-sm" onclick="addContrast()">Add
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="option" id="contrast_title_input"/>
                    </div>
                    <div id="condition-1-block">
                        <label>
                            <label for="condition-1-input">Condition 1 Name</label>
                        </label>
                        <input type="text" class="form-control" name="contrast_tile" id="condition-1-input" required/>
                    </div>
                    <div>
                        <label>
                            <label for="stimuli_1">Stimuli of Condition 1</label>
                        </label>
                        <select id="stimuli_1" class="selectpicker form-control" multiple data-live-search="true"
                                required>
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                    <div id="condition-2-block">
                        <label>
                            <label for="condition-2-input">Condition 2 Name</label>
                        </label>
                        <input type="text" class="form-control" name="contrast_tile" id="condition-2-input"/>
                    </div>
                    <div>
                        <label>
                            <label for="stimuli_2">Stimuli of Condition 2</label>
                        </label>
                        <select id="stimuli_2" class="selectpicker form-control" multiple data-live-search="true">
                            <option>Mustard</option>
                            <option>Ketchup</option>
                            <option>Relish</option>
                        </select>
                    </div>
                    <div>
                        <label>Figures</label>
                    </div>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile04">
                            <label class="custom-file-label" id="inputGroupFile04label" for="inputGroupFile04">Choose
                                file</label>
                        </div>
                    </div>
                    <table id="file-block">
                        <tbody id="file-block-body">
                        </tbody>
                    </table>
                    <div>
                        <label>Coordinates</label>
                        <table id="coord-table">
                            <tr>
                                <th style="width: 1rem;">name</th>
                                <th>x</th>
                                <th>y</th>
                                <th>z</th>
                                <th>T</th>
                                <th>Z</th>
                                <th>V</th>
                                <th style="width: 1rem;">Delete</th>
                            </tr>
                        </table>
                    </div>
                </form>
                <div style="height: 20px"></div>
                <form id="coordinate-input-block">
                    <div id="coordinate-header-block" class="d-flex justify-content-between align-items-baseline">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input type="text" placeholder="coordinate name" class="form-control" id="name-coord" required/>
                        </div>
                        <div style="width: 1rem"></div>
                        <button type="submit" class="btn btn-sm">Add</button>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">X:</span>
                                    </div>
                                    <input type="number" placeholder="x value" class="form-control" id="x-coord"
                                           required/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">TScore:</span>
                                    </div>
                                    <input type="number" placeholder="t score" class="form-control" id="ts-coord"
                                           required/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Y:</span>
                                    </div>
                                    <input type="number" placeholder="y value" class="form-control" id="y-coord"
                                           required/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ZScore:</span>
                                    </div>
                                    <input type="number" placeholder="z score" class="form-control" id="zs-coord"
                                           required/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Z:</span>
                                    </div>
                                    <input type="number" placeholder="z value" class="form-control" id="z-coord"
                                           required/>
                                </div>
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Voxel:</span>
                                    </div>
                                    <input type="number" placeholder="voxel" class="form-control" id="v-coord"
                                           required/>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>condition 1</th>
                        <th>stimuli of 1</th>
                        <th>condition 2</th>
                        <th>stimuli of 2</th>
                        <th>coordinates</th>
                        <th>figures</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        {% csrf_token %}
    </div>
    <script type="text/javascript">
        {#window.onload = updateStimuli();#}
        let files = []
        let contrasts = []
        let coordinates = []
        const btnStr = "<tr><td style=\"color:white\">{0}</td><td><button type=\"button\" class=\"file-name btn-danger\" onclick=\"deleteFile(this)\">delete</button></td></tr>"
        const coordStr = "<tr>><td>{0}</td><td>{1}</td><td>{2}</td><td>{3}</td><td>{4}</td><td>{5}</td><td>{6}</td><td><button onclick=\"deleteCoord(this)\" type=\"button\" class=\"btn-danger coord-btn\"><span>&#10005;</span></button></td></tr>"

        $(document).ready(function () {
            $("#inputGroupFile04").on("change", function () {
                let selectedFiles = $("#inputGroupFile04")[0].files
                if (selectedFiles.length > 0) {
                    let a = $("#file-block-body")[0].innerHTML
                    $("#file-block-body")[0].innerHTML = a + btnStr.format(selectedFiles[0].name)
                    files.push(selectedFiles[0])
                }
            });

            let form = $(".needs-validation")[0]
            form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                addContrast();
            });

            let coordinate_form = $("#coordinate-input-block")[0]
            coordinate_form.addEventListener('submit', function (event) {
                event.preventDefault();
                event.stopPropagation();
                addCoordinates();
            })
        });

        function deleteFile(btn) {
            let tr = $(btn).parent().parent()
            let index = $(".file-name").index(btn)
            files.splice(index, 1)
            tr.remove()
        }

        function createForm() {
            let form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "/upload_images");

            for (let i = 0; i < files.length; i++) {
                let file = files[i]
                let input = document.createElement("input");
                input.setAttribute('type', "hidden");
                input.setAttribute("name", "file" + (i + 1))
                input.setAttribute("value", file)
                form.appendChild(input)
            }

            return form
        }

        function addContrast() {
            let title = $("#contrast_title_input").val()
            if (!title || title.length == 0) {
                title = 'contrast' + (contrasts.length + 1) + '@' + randID(7)
            }
            let cond1 = $("#condition-1-input").val()
            let stim1 = $("#stimuli_1").val()
            let cond2 = $("#condition-2-input").val()
            let stim2 = $("#stimuli_2").val()
            let fileNames = []
            for (let i = 0; i < files.length; i++) {
                fileNames.push(files[i].name)
            }
            contrasts.push({
                title: {
                    cond1: stim1,
                    cond2: stim2,
                    "figures": fileNames
                }
            })
        }

        function uploadFiles() {
            let formdata = new FormData();
            let csrfToken = $('[name="csrfmiddlewaretoken"]').val();
            formdata.append('csrfmiddlewaretoken', csrfToken)

            for (let i = 0; i < files.length; i++) {
                let file = files[i]
                formdata.append(file.name, file, file.name);
            }

            $.ajax({
                url: '/upload_images',
                data: formdata,
                type: 'POST',
                processData: false,
                contentType: false,
            }).done(function (resp) {
                console.log(resp);
            });
        }

        function addCoordinates() {
            let table = $("#coord-table");
            let nInput = $("#name-coord")[0];
            let xInput = $("#x-coord")[0];
            let yInput = $("#y-coord")[0];
            let zInput = $("#z-coord")[0];
            let tsInput = $("#ts-coord")[0];
            let zsInput = $("#zs-coord")[0];
            let vInput = $("#v-coord")[0];

            let n = nInput.value;
            let x = xInput.value;
            let y = yInput.value;
            let z = zInput.value;
            let ts = tsInput.value;
            let zs = zsInput.value;
            let v = vInput.value;


            table.append(coordStr.format(n,x,y,z,ts,zs,v))
            coordinates.push({
                "name":n,
                "x":x,
                "y":y,
                "z":z,
                "t-score":ts,
                "z-score":zs,
                "voxel":v
            });

            nInput.value = "";
            xInput.value = 0;
            yInput.value = 0;
            zInput.value = 0;
            tsInput.value = 0;
            zsInput.value = 0;
            vInput.value = 0;
        }

        function deleteCoord(btn) {
            let tr = $(btn).parent().parent()
            let index = $(".coord-btn").index(btn)
            coordinates.splice(index, 1)
            tr.remove()
        }
    </script>
{% endblock %}