{% extends "boldpredict/base.html" %}

{% block header %}
<section>
    <div class="wrapper topSection">
        <div id="Header">
            <h2>Choose Contrast Type</h2>
        </div>
    </div>
</section>
{% endblock%}


{% block content %}
<section>
    <div class="container">
        <div class="col-md-6">
            <form method="post" action="{% url 'new_contrast' %}">
                <div id="id_privacy_setting">
                    Contrast Privacy Settings
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            {% if user.is_authenticated %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Public" /> Public
                            <br />
                            {% else %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Public" checked />
                            Public
                            <br />
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if user.is_authenticated %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Private" /> Private
                            <br />
                            {% else %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Private" disabled />
                            Private
                            <br />
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br>
                <!-- {{ form.as_p2 }} -->
                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label style="color: white">
                        {{field.label_tag}}
                    </label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="submit_button" >Submit</button>
                {% csrf_token%}
            </form>
        </div>
    </div>
</section>
{% endblock%}