{% extends "boldpredict/base.html" %}


{% block staticfiles %}
{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static 'boldpredict/js/new_contrast.js' %}" type="text/javascript"></script>
<style type="text/css">
    .btn {
        width: 33%;
        border-radius: 0px;
    }
</style>

{% endblock %}


{% block header %}
<section>
    <div class="wrapper topSection">
        <div id="Header">
            <h2>Input Contrast Stimuli</h2>
        </div>
    </div>
</section>
{% endblock%}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form method="post" action="{% url 'start_contrast' %}">
                    <div id="id_privacy_setting" class="form-group">
                        <label>
                            Contrast Privacy Settings
                        </label>
                        <br>
                        <br>
                        <div class="col-md-3">
                            {% if user.is_authenticated %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Public" /> Public
                            <br />
                            {% else %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Public" checked />
                            Public
                            <br />
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            {% if user.is_authenticated %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Private" /> Private
                            <br />
                            {% else %}
                            <input class="radio_button" type="radio" name="stimuli_type" value="Private" disabled />
                            Private
                            <br />
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label style="color: white">
                            {{field.label_tag}}
                        </label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="submit_button">Submit</button>
                    {% csrf_token%}
                </form>
            </div>
            <div class="col-md-7">
                <br>
                <br>
                <h3>
                    Suggestions for first condition
                </h3>
                <div class="btn-group" id='first_cond'>
                    {% for condition in conditions %}
                    <button class="save btn btn-inverse" id="id_first_bnt_{{condition.name}}"  style="color: grey">
                        <h6>{{condition.name}}</h6> {{condition.brief_part1}} <br>{{condition.brief_part2}} ..."
                    </button>
                    {% endfor %}
                </div>

                <h3>
                    Suggestions for second condition
                </h3>
                <div class="btn-group" id='second_cond'>
                    {% for condition in conditions %}
                    <button class="save btn btn-inverse" id="id_second_bnt_{{condition.name}}" style="color: grey">
                        <h6>{{condition.name}}</h6> {{condition.brief_part1}} <br>{{condition.brief_part2}} ..."
                    </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}