{% extends "boldpredict/base.html" %}

{% block header %}
<br><br><br><br><br>
<section>
    <div id="Content" class="wrapper topSection">
        <div id="Header">
            <h2>Welcome to BoldPrediction! </h2>
            <h2>Start Your Brain Exploration Here!</h2>
            <h2>Simply Try a Brain Contrast using the Contrast Module!</h2>
            <h2>Or Checkout Published Experiments with the Experiment Module!</h2>
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br>
{% endblock%}