{% extends "boldpredict/base.html" %}

{% block header %}
<section>
	<div id="Content" class="wrapper topSection">
			<div id="Header">
				<h2>ResetPassword</h2> 
			</div>
	</div>
</section>
{% endblock%}



{% block content %}
{% load static %}
<section class="reset spacing">
	{% comment %} {% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %} {% endcomment %}
	<div class="container">
		<div class="row">

			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<!-- <p style="color: white" >Register to BOLDpredictions</p> -->
					{% for error in form.non_field_errors %}
					<span style="color: red">
						{{error}}
					</span>
					{% endfor %}
                
				<form role="form" method="post" action="{% url 'reset_password' %}">
					{% for field in form.visible_fields %}
						<div class="form-group">
							<label style="color: white" >
								{{field.label_tag}}
							</label>
							{{ field }}
						</div>
					{% endfor %}
					{% csrf_token%}
					<div id="reset">
						<p class="submit_button">
							<input type="submit" value="submit" name="Submit">
						</p> 
					</div>
                    <input type="hidden" name="username" value="{{username}}">
				</form>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

</section>


{% endblock%}


