{% extends "boldpredict/base.html" %}

{% block header %}
<section>
	<div id="Content" class="wrapper topSection">
			<div id="Header">
				<h2>Resend Activation Link</h2> 
			</div>
	</div>
</section>
{% endblock%}



{% block content %}
{% load static %}
<section class="login spacing">
	{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
	<div class="container">
		<div class="row">

			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<p style="color: white" >You haven't activated your account. Please check your mail or hit the resend button below to resend your activation mail to {{email}}</p> 
					{% for error in form.non_field_errors %}
						<span style="color: red">
						{{error}}
						</span>
					{% endfor %}
                
				 <form role="form" method="post" action="{% url 'resend_activation' %}">
					<div id="login">
                        <input type="hidden" name="email" value="{{email}}">
						<p class="submit_button">
							<input type="submit" value="Resend" name="Submit">
						</p> 
					</div>
                    {% csrf_token %}
                    {% comment %} <input type="hidden" name="username" value="{{username}}"> {% endcomment %}
				</form> 
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

</section>


{% endblock%}


