/* .title { */
	/* padding:20px; */
/*	background-image: url("https://i.pinimg.com/originals/1c/78/9b/1c789be9eaea563f0dfb0a5f1e860387.jpg");
	background-color: blue;*/
/* } */

/* .text-bold {
	font-weight: bold;
	font-size: large;
}
 */
